@media (max-width: 768px){
    .section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 425px){
    .section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}